<<<<<<< HEAD
=======

>>>>>>> 35b0cbcf4557b5fedf56cecf480adf2826441573
.btn_thanhtoan {
  padding: 4px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 8px;
  background-color: #ccc;
<<<<<<< HEAD
}
.btn_thanhtoan:hover {
  opacity: 0.6;
}
/* Full-width input fields /
=======
}
.btn_thanhtoan:hover {
  opacity: 0.6;
}
/* Full-width input fields */
>>>>>>> 35b0cbcf4557b5fedf56cecf480adf2826441573
.input-order {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.input-order:focus {
  background-color: #ddd;
  outline: none;
}

/ Overwrite default styles of hr /
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/ Set a style for the submit/register button /
.registerbtn {
  background-color: var(--text-color);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

}

.registerbtn:hover {
  opacity:0.9;
}

<<<<<<< HEAD
/ Set a grey background color and center the text of the "sign in" section */
=======
/* Set a grey background color and center the text of the "sign in" section */
>>>>>>> 35b0cbcf4557b5fedf56cecf480adf2826441573
.signin {
  background-color: #f1f1f1;
  text-align: center;
}