/* New product */
.product-best-sellers {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 4vw;
    position: relative;
}
.btn-next {
    right: 14px !important;
}
.btn-prev {
    left: 14px !important;
}
.image {
    width: 200px !important;
    height: 200px !important;
}
.image:hover img {
    transform: scale(1.15);
    transition: all 1s ease 0s;
}

.product-best-sellers__title {
    user-select: none;
    color: var(--text-color);
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-best-sellers__title::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: -16px;
    right: -16px;
    top: 50%;
    background-color: #d9d9d9;
    z-index: 0;
}

.product-best-sellers__title h3 {
    position: relative;
    display: inline-block;
    margin: 16px 0;
    padding: 4px 16px;
    background-color: #fff;
}

.product-best-seller-wrapper {
    overflow: hidden;
    flex-wrap: unset !important;
}

.product-best-sellers__item {
    padding: 6px;
}

.product-best-sellers__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item__img-wrap:hover .item__img {
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */
    transform: scale(1.15);
}

.item__img-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease 0s;
}

.item__name-wrap {
    cursor: default;
    flex: 1;
}

.item__name {
    margin: 4px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.item__price {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
    text-align: center;
}

.item__btn {
    min-width: 172px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--white-color);
    border: 1px solid var(--text-color);
    color: var(--black-color);
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s;
    z-index: 2;
}

.item__btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--text-color);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.item__btn:hover {
    color: #fff;
}

.item__btn:hover:before {
    transform: scaleX(1);
}

.product-best-sellers__border-bottom {
    position: relative;
    width: 100%;
    height: 4vh;
}

.product-best-sellers__border-bottom hr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    border-top: 1px solid var(--text-color);
    margin: 34px 0 0;
}
@media (max-width: 48em) {
    .product-best-sellers__border-bottom {
        display: none;
    }
}
@media (max-width: 320px) {
    .item__btn {
        min-width: 124px;
        padding: 6px 0;
    }
}


/* Category banner */
.category-banner-block {
    padding: 2vw 4vw;
}

.category-banner-box {
    padding: 22px ;
}

.category-banner-block a:hover .category-banner-item .label-box::before {
    height: 100%;
    opacity: 0.6;
}

.category-banner-block a:hover .category-banner-item .label-wrap p::after {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.category-banner-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 72%;
    border-radius: 3px;
}

.category-banner-item__ao-thun {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/categoryBanner/Áo\ thun\ -\ banner.jfif');
}

.category-banner-item__ao-somi {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/categoryBanner/Áo\ sơ\ mi.jpg')
}

.category-banner-item__ao-khoac-jeans {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/categoryBanner/Áo\ khoác\ jeans\ -\ banner.jfif');
}

.category-banner-item__phu-kien{
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/categoryBanner/phụ\ kiện.jfif');
}

.category-banner-item__other {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/categoryBanner/4.jpg');
}

.category-banner-item .label-box {
    position: absolute;
    display: flex;
    align-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.category-banner-item .label-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    ;
    opacity: 0.3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.2s;
}

.category-banner-item .label-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;
}

.category-banner-item .label-wrap h4 {
    display: block;
    font-size: 2.6rem;
    color: var(--white-color);
    letter-spacing: 2px;
    margin: 18px 0;
}

.category-banner-item .label-wrap p {
    position: relative;
    display: inline;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
}

.category-banner-item .label-wrap p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 1px;
    width: 0;
    background: var(--white-color);
    transition: width .5s;
}

@media (max-width: 46.2499em) {
    .category-banner-block {
        padding: 0;
    }
    .category-banner-box {
        padding: 0;
    }

    .category-banner-item .label-box {
        padding: 6px;
    }

    .category-banner-item .label-wrap h4 {
        font-size: 1.6rem;
        margin: 8px 0;
    }

    .category-banner-item .label-wrap p {
        font-size: 1rem;
    }
}